@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* {
   box-sizing: border-box;
}

.heading {
   position: relative;
   top: 5vw;
}

.heading h1 {
   margin: 0;
   text-align: center;
   font-family: 'Shadows Into Light', cursive;
   font-size: 4.5rem;
   color: #31f817;
   text-shadow: 2px 6px #7272726b;
   letter-spacing: 5px;
}

.container {
   height: 600px;
   width: 1100px;
   margin: 0 auto;
   position: relative;
   top: 8vh;
   /* border: 1px solid black; */
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 80px;
 }

 .main-menu{
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-left: 5%;
}

.menu-item {
   height: 50px;
   width: 150px;
   padding: 0.5em 1em;
   text-align: center;
   color: #fff;
   font-family: 'Shadows Into Light', cursive;
   font-size: 1.5rem;
   border: none;
   border: 2px solid #aaa;
   border-radius: 1em;
   background-color: #31f817;
   transition: transform 50ms;
   line-height: 100%;
   box-shadow: 0 5px 10px 1px #47474756;
   letter-spacing: 2px;
   font-weight: 900;

}

.menu-item:hover{
   cursor: pointer;
   transform: scale(1.1);
}


.menu-item:nth-child(1) {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.grid {
   width: 500px;
   height: 500px;
   display: grid;
   justify-content: center;
   align-content: center;
   border: 1px solid #797979;
   box-shadow: 0 10px 20px 1px #47474756;
}

#slider {
   width: 500px;
   position: relative;
   top: 8vh;
   margin: 0 auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
 }

 #slider input[type=range]{
    width: 400px;
 }

 #slider span {
   font-family: 'Shadows Into Light', cursive;
   font-size: 2rem;
   letter-spacing: 3px;
 }