* {
   box-sizing: border-box;
}

.container {
   width: 600px;
   height: 600px;
   position: relative;
   top: 10vw;
   margin: 0 auto;
   display: grid;
   justify-content: center;
   align-content: center;
}

.gridItem {
   border: 1px solid black;
}